@font-face{
font-family : "Kano";
src: url("Kano.otf");
}

@font-face{
font-family : "Product";
src: url("Product Sans Regular.ttf");
}

body{
	margin:0;
	padding: 0;
	background-color: rgb(245,245,245);
}

#main-bloc{
	margin-right: 0px;
	margin-left: 0px;
}
#main-bloc header{
	display: inline-flex;
}

header 
{
	width: 100%;
	background-color: #2ecc71;
    position: relative;
}
header .logo a{
 	text-decoration: none;
 	font-size: 45px;
 	color:white;
 	margin : 0;
 	font-family: "Kano";
 	letter-spacing: 5px;
}

.nav-menu{
    position: absolute;
    right: 50px;
    top: 20%;
}

.button{
    color : white;
    font-size: 20px;
    display: none;
}

.nav-menu ul li{
	list-style-type: none;
}
.nav-menu ul{
	display: inline-flex;
	float: right;	
}

.nav-menu li a{
	color:white;
    font-family: "Product";
	text-decoration: none;
	margin: 5px 15px;
	text-transform: uppercase;
	transition-duration: 0.5s;
}
.nav-menu li a:hover{
	color: rgb(211,0,39);
}

#main-page{
	width: 75%;
	margin: auto;
	background-color: red;
	margin-top: 25px;
}  

/*MAIN PAGE*/

#main_page{
    width: 90%;
    margin: auto;
    background-color: rgb(248,248,248);
    margin-top: 20px;
    padding-bottom: 10px;
}

.all_items{
    width: 90%;
    margin-left: 30px;
}

#main_page ul{
    display: inline-flex;
}

.all_items li{
    list-style: none;
}

.box_img, .large_item, .alls_items {
    margin: 0 ;
    padding: 0;
}

.large-item{
    height: 200;
    width: 400;
}

.large-item a{
    color: white;
}

.pic_1, .pic_2{
    display: block;
}

.large-item a, .large-item a:hover{
    text-decoration: none;
    color : #2ecc71;
}

 a .box_img_1,a .box_img_2,a .box_img_3,a .box_img_4{
    position: relative;
    background-position: center;
    background-size: cover;
    height: 200;
    width: 400;
    margin-top: 20;
    opacity: 0.5;
    transition-duration: 0.4s;
}

a .box_img_1{
    background-image: url(img/ecosystemeMac.jpg) ;
}

a .box_img_2{
    background-image: url(img/airpods-apple.jpg) ;
}

a .box_img_3{
    background-image: url(img/beautiful-cellphone.jpg) ;
}

a .box_img_4{
    background-image: url(img/cameraContemporain.jpg) ;
}

a .box_img_1:hover,a .box_img_2:hover,a .box_img_3:hover,a .box_img_4:hover{
    opacity: 1;
}

.title_item{
    position: absolute;
    bottom: 0px;
    left: 2px;   
    font-family: "Kano";
    font-size: 25px;
}

.sections{
    margin: 10px;
}

#contents article {
    display: inline-flex;
}

#contents article .img-content{
    width: 240;
    height: 170;
    opacity: 0.7;
    transition-duration: 0.4s;
}

#contents article .img-content:hover{
    opacity: 1;
}

#contents .line-up{
    border-top: 1px solid #2ecc71;
    margin: 20px 0 20px 0 ;
}

#contents .line-down{
    border-top: 1px solid #2ecc71;
    margin: 20px 0 20px 0 ;
}

article .text-box{
    float: left;
    padding-left: 10px;
}

.post-title a{
    text-decoration: none;
    text-align: center;
    color: black;
    font-weight: bold;
    transition-duration: 0.4s;
}

.post-title a:hover{
    color: #2ecc71;
    text-decoration: none;
}

.text-box p{
    font-size: 18px;
    font-family: "Product";
}

.head{
    margin-top: 15px;
    margin-bottom: 25px;    
    padding-top: 15px;
}

.title-content{
    color: #2ecc71;
}

.title-content{
    font-family: "Kano";
}

#contents article .text-box h3 a{
    font-family: "Kano";
    font-size: 20px;
}

.more-article{
    border: 1px solid #2ecc71;
    background-color:#2ecc71;
    opacity: 0.7;
    transition-duration: 0.4s;
    border-radius: 1px;
    margin-top: 8px;
}

.more-article:hover{
    opacity: 1;
}

.more-article a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    opacity: 0.7;
    transition-duration: 0.4s;
}

.more-article a:hover{
    color: white;
    text-decoration: none;
    opacity: 1;
}
.more-article a h4{
    text-align: center;
}

footer{
    background-color: #21ca60;
    margin-top: 15px;
    position: relative;
    height: 190px;
}

footer .more-information ul li{
    list-style: none;
    height: 50px;
}

footer .more-information footer-nav-list{
    position: absolute;
    right: 25px;
    bottom: 0;
}

.more-information{
    display: inline-flex;
}

footer .more-information ul{
    float: right;
    display: inline-flex;
    margin : 0 250px;
}

footer .more-information ul li a{
    text-decoration: none;
    color: white;
    transition-duration: 0.4s;
}

footer .more-information ul li a:hover{
    text-decoration: none;
    color: #fff ;
}

footer .more-information ul li{
    padding: 0 20px;
    font-family: "Product";
    font-size: 17px;
}

.more-information h4{
    margin-top: 5px;
    font-size: 45px;
    font-family: "Kano";
}

footer .copyright{
    font-size: 17px;
    margin-top:10px;
    position: absolute;
    bottom: 0;
    left: 40%;
}

.newletter{
    float: right;
    position: absolute;
    right: 25px;
    margin-bottom: 20px;
}

.newletter p{
    margin-left: -2px;
    font-size: 17px;
}

footer input[type=email] {
    border: 1px  white;
    width: 200px;
    border-radius: 2px;
    background-color: #21ca60;  
}

footer input[type=submit]{
    border-radius: 2px;
    border: 1px solid white;
    background-color: #21ca60;    
}




/*Media QUERIES*/

@media screen and (max-width : 768px)
{
    header .nav-menu ul{
        position: absolute;
        top: 30%;
        left: 20%;
        font-size: 20px;
    }
    
    header .nav-menu
    {
        display: none;
        height: 780px;
    }

    header ul li.button{
        display: block;
        color: white;
        position: absolute;
        font-size: 40px;
        top : 2px;
        right: 10px;
        padding: 0;
        margin: 0;
        cursor: pointer;  
    }

    header .nav-menu {
        position: absolute;
        color: black;
        background-color: #27ae60; 
        top: 67.5px; 
        right: 0;
        left: 0;
        z-index: 100;
        
    }
    header .nav-menu ul {
        display: block;
        color: black;
        padding-right: 39%;
        text-align: center;
    }
    
    #main_page .all_items{
        display: block;

    }
    
    #main_page .pic_1, #main_page .pic_2 {
        width: 100%;   
        display: block;
    }
    
    #main_page .pic_1 box_img_1, #main_page .pic_1 box_img_2{
        width: 340;
        height: 270;
    } 
    
    section#contents article{
        display: block;
    }
    
    #contents .line-down{
    border-bottom: 1px solid #2ecc71;
    margin: 270px 0 30px 0 ;
    }
    
    section#contents article .text-box{
        margin-top: 15px;
    }
    
    section#contents article .text-box h3{
        text-align: center;
    }
    
    section#contents article .img-content {
        margin-left: 30%;
    }   
    
}


@media screen and (min-width : 374px) and (max-width : 398px)
{
    a .box_img_1,a .box_img_2,a .box_img_3,a .box_img_4{
        position: relative;
        background-position: center;
        background-size: 319px 175px;
        background-repeat: no-repeat;
        margin: auto;
        width: 90%;
        opacity: 0.9;
        margin-top: 7px;
        margin-left: -12%;
    }
    
    .title_item{
        position: absolute;
        bottom: 0px;
        left: 15%;
        right: 10%;
        font-family: "Kano";
        font-size: 25px;
    }
    
    #main_page{
        width: auto;
    }
    
    #main_page .all_items{
        margin-left: 17px;
    }

    
    section#contents article{
        display: block;
    }
    
    section#contents article .img-content{
        margin-left: 18%;
    }
    
    section#contents .title-content{
        font-size: 25px;
        text-align: center;
    }
    
    .post-title p {
        text-align: justify;
    }
    
    #contents .line-down{
    border-bottom: 1px solid #2ecc71;
    margin: 300px  0 30px 0 ;  
    }
    
    #contents .line-up{
    border-bottom: 1px solid #2ecc71;
    margin: 15px 0px ; 
    }

    section#contents article .text-box{
        margin-top: 15px;
    }
    
    section#contents article .text-box h3{
        text-align: center;
    }
    
    section#contents article .img-content {
        width: auto;
    }   
    
    footer{
        height: 470;
    }
    
    .more-information{
        position: relative;
        display: block;
    }
    
    .footer-nav-list{
        margin: 0 5px;
        display: block;
        width: 100%;
    }
    
    footer .more-information ul{
        display: block;
        margin-left: 80px;
    }
    
    .newletter p{
        text-align: center;
    }
    
    footer input[type=email]{
        text-align: center;
        background-color: rgb(248,248,248);
        margin: 0 5%;
        height: 25px;
        width: 325px;
    }
    
    footer input[type=submit]{
        width: 150px;
        margin-left: 30%;
    }

}

@media screen and (min-width : 412px) and (max-width : 415px)
{
    
     a .box_img_1,a .box_img_2,a .box_img_3,a .box_img_4{
        position: relative;
        background-position: center;
        background-size: 300px 155px;
        background-repeat: no-repeat;
        margin: auto;
        width: 90%;
        opacity: 0.9;
        margin-top: 7px;
        margin-left: -15%;
    }
    
    .title_item{
        position: absolute;
        bottom: 15px;
        left: 15%;
        right: 10%;
        font-family: "Kano";
        font-size: 20px;
    }
    
    section#contents .title-content{
        font-size: 25px;
        text-align: center;
    }
    
    section#contents article .img-content{
        margin-left: 18%;
    }
    
    #contents .line-down{
    border-bottom: 1px solid #2ecc71;
    margin: 300px  0 30px 0 ;  
    }
    
    #contents .line-up{
    border-bottom: 1px solid #2ecc71;
    margin: 15px 0px ; 
    }
    

    footer{
        height: 490;
    }
    
    .more-information{
        position: relative;
        display: block;
    }
    
    .footer-nav-list{
        margin: 0 5px;
        display: block;
        width: 100%;
    }
    
    footer .more-information ul{
        display: block;
        margin-left: 80px;
    }
    
    footer .footer-nav{
        margin-bottom: 5px;
    }
    
    footer input[type=email]{
        text-align: center;
        background-color: rgb(248,248,248);
        margin: 0 5%;
        height: 25px;
        width: 350px;
    }
    
    footer input[type=submit]{
        width: 150px;
        margin-left: 30%;
    }
    
    .newletter p{
        text-align: center;
    }
    
}

@media screen and (min-width : 358px) and (max-width : 362px)
{
    
    a .box_img_1,a .box_img_2,a .box_img_3,a .box_img_4{
        position: relative;
        background-position: center;
        background-size: 300px 200px;
        background-repeat: no-repeat;
        margin: auto;
        width: 90%;
        opacity: 0.9;
        margin-top: 7px;
        margin-left: -22%;
    }
    
    .title_item{
        position: absolute;
        bottom: 10px;
        left: 15%;
        right: 10%;
        font-family: "Kano";
        font-size: 20px;
    }
    
    section#contents .title-content{
        font-size: 25px;
        text-align: center;
    }
    
    
    section#contents article .img-content{
        margin-left: 12%;
    }
    
    #contents .line-down{
    border-bottom: 1px solid #2ecc71;
    margin: 345px 0 30px 0 ;
    }
    
    footer{
        height: 470;
    }
    
    .more-information{
        position: relative;
        display: block;
    }
    
    .footer-nav-list{
        margin: 0 5px;
        display: block;
        width: 100%;
    }
    
    footer .more-information ul{
        display: block;
        margin-left: 80px;
    }
    
    footer .footer-nav{
        margin-bottom: 5px;
    }
    
    .newletter p{
        text-align: center;
    }
    
    footer input[type=email]{
        margin-left: 5px;
    }
    
    footer .copyright{
        margin-right: 5px;
    }
    
    footer input[type=email]{
        text-align: center;
        background-color: rgb(248,248,248);
        margin: 0 5%;
        height: 25px;
        width: 325px;
    }
    
    footer input[type=submit]{
        width: 150px;
        margin-left: 30%;
    }
    
}

@media screen and (min-width : 318px) and (max-width : 322px)
{
    a .box_img_1,a .box_img_2,a .box_img_3,a .box_img_4{
        position: relative;
        background-position: center;
        background-size: 270px 170px;
        background-repeat: no-repeat;
        margin: auto;
        width: 80%;
        opacity: 0.9;
        margin-top: 7px;
        margin-left: -21%;
    }
    
    .title_item{
        position: absolute;
        bottom: 10px;
        left: 15%;
        right: 10%;
        font-family: "Kano";
        font-size: 20px;
    }
    
    section#contents .title-content{
        font-size: 25px;
        text-align: center;
    }
    
    
    section#contents article .img-content{
        margin-left: 7%;
    }
    
    #contents .line-down{
    border-bottom: 1px solid #2ecc71;
    margin: 420px 0 30px 0 ;
    }

    #contents .line-down{
    border-bottom: 1px solid #2ecc71;
    margin: 300px  0 30px 0 ;  
    }
    
    #contents .line-up{
    border-bottom: 1px solid #2ecc71;
    margin: 15px 0px ; 
    }
    
    footer{
        height: 500;
    }
    
    .more-information{
        position: relative;
        display: block;
    }
    
    .footer-nav-list{
        margin: 0 5px;
        display: block;
        width: 100%;
    }
    
    footer .more-information ul{
        display: block;
        margin-left: 80px;
    }
    
    footer .footer-nav{
        margin-bottom: 5px;
    }
    
    .newletter p{
        text-align: center;
    }
    
    footer input[type=email]{
        margin-left: 5px;
    }
    
    footer .copyright{
        margin-right: 5px;
    }
    
    footer input[type=email]{
        text-align: center;
        background-color: rgb(248,248,248);
        margin: 0 5%;
        height: 25px;
        width: 290px;
    }
    
    footer input[type=submit]{
        width: 150px;
        margin-left: 30%;
    }
}




